 *{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

 body{
   
   background-image: url('7.jpg');

    
    width: 100%;
    height: auto;
    background-size: cover;
    
  /*  background-repeat: no-repeat;*/
 
}

.loginpage{
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    color: white;
    

}

.loginpage h1{
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
    text-decoration: none;
    font-style: italic;
    font-style: oblique;
    color:rgba(31, 62, 238, 0.883);
    text-decoration: underline;
}
.loginpage label{
    font-size: 30px;
}

.loginpage input{
    font-size: 16px;
    width: 100%;
    padding: 10px 10px;
    border: 0;
    outline: none;
    border-radius: 7px;
    border: 2px solid black;
    margin: 10px 0;
}
.loginpage button{
    font-size: 25px;
    padding:10px 15px;
    font-weight: bold;
    margin: 10px 0;
    background-color: seashell;
    border-radius: 26px;
    color:black;
    cursor: pointer;
    
}

